@model List<Tasks>

<a asp-controller="Tasks" asp-action="Index" class="btn btn-primary">Back</a>

@if (Model != null && Model.Count > 0)
{
    <h1>Searched Tasks</h1>
    <!-- Completed Task List -->
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                @*<a asp-action="Index" asp-route-sortOrder="title_desc">Title</a>*@
                <th>Description</th>
                <th>Date Created</th>
                <th>Due Date</th>
                <th>Category</th>
                <th>Priority</th>
                <th>Is Done?</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.DateCreated</td>
                    <td>@item.DueDate</td>
                    <td>@item.Category</td>
                    <td>@item.Priority</td>
                    <td>@(item.IsCompleted ? "Yes" : "No")</td>
                    <td>
                        <a asp-controller="Tasks" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                        <a asp-controller="Tasks" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1>No matching tasks found.</h1>
    <p>Try searching a different task.</p>
}